%footer#footer.clearfix.wrapper
  .legal
    %p
      %a{:href=>"http://www.nuestrasvoces.com.ar", :title=>"¿Qué es?"} ¿Qué es?
      |
      %a{:href=>"http://www.nuestrasvoces.com.ar", :title=>"Términos y Condiciones"} Términos y Condiciones
