%section#sticky
  %h2.visuallyhidden Navegación secundaria
  %ul#secondary-navigation.wrapper
    %li.item-center
      %a#user-image.title-item{:data=>{:url=> "ajax/user_image"}, :href => "http://www.nuestrasvoces.com.ar", :title => "Nuestras"}
      %img.small-avatar{:style=>"margin-top:-80px;", :width=> "150px", :src=>"images/nuestras.png"}
     
    %li.live
      %a.title-item{:href => "http://www.nuestrasvoces.com.ar", :title => "Inicio"} Portal

